@using PagedList.Mvc;
@model PagedList.IPagedList<Universiti.BL.DTOs.InstructorDTO>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Instructors", FormMethod.Get))
{
    <p>
        <select name="PageSize" id="Pagesize" class="form-control">
            <option>@if ((int)ViewBag.PageSize == 10){@Html.Raw("selected")}>10</option>
            <option>@if ((int)ViewBag.PageSize == 15){@Html.Raw("selected")}>15</option>
        </select>
        <br />
        <input type="submit" value="Aplicar" class="btn btn-primary" />
    </p>
}
<table class="table">
    <tr>
        <th>LastName</th>
        <th>FirstMidName</th>
        <th>HireDate</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.FirstMidName)</td>
            <td>@Html.DisplayFor(modelItem => item.HireDate)</td>

            <td>
                @Html.ActionLink("Edit", "Edit", "Instructors", new { id = item.ID }) |
                @Html.ActionLink("Departments", "Index", "Instructors", new { instructorid = item.ID }) |
                @Html.ActionLink("Delete", "Delete", "Instructors",  new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount;
<br />
Total Item Count @Model.TotalItemCount
@Html.PagedListPager(Model, page => Url.Action("Index", "Instructors", new { page, pageSize = ViewBag.PageSize }));

@if (ViewBag.Departments != null)

{
    <h1>Departments</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<Universiti.BL.DTOs.DepartmentDTO>)ViewBag.Departments)
            {
                <tr>
                    <td>@item.DepartmentID</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>

}