@using PagedList.Mvc;
@model PagedList.IPagedList<Universiti.BL.DTOs.DepartmentDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Departmente", FormMethod.Get))
{
    <p>
        <select name="PageSize" id="Pagesize" class="form-control">
            <option>
                @if ((int)ViewBag.PageSize == 10)
                {@Html.Raw("selected")}>10
            </option>
            <option>
                @if ((int)ViewBag.PageSize == 15)
                {@Html.Raw("selected")}>15
            </option>
        </select>
        <br />
        <input type="submit" value="Aplicar" class="btn btn-primary" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.DepartmentID)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DepartmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount;
<br />
Total Item Count @Model.TotalItemCount
@Html.PagedListPager(Model, page => Url.Action("Index", "Students", new { page, pageSize = ViewBag.PageSize }));